rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Tournament settings
    match /settings/{settingId} {
      allow read: if true;
      allow write: if true;
    }

    // Teams / Player pairs
    match /teams/{teamId} {
      allow read: if true;
      allow write: if true;
    }

    // Matches & Scores
    match /matches/{matchId} {
      allow read: if true;
      allow write: if true;
    }

    // Connection testing
    match /test/{docId} {
      allow read, write: if true;
    }
  }
}
